<%= render partial: "shared/nav" %>
<div class="mp_back">
	<div class="row mp_alert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<dl class="sub-nav" id="sidebar">
      <dt>Cars:</dt>
        <% @cars.each do |car| %>
          <dd><a data-id="<%= car.id %>" class="mp_link" href="#"><%= car.name %></a></dd>
        <% end %>
    </dl>
  </div>
</div>
