<div class="mp_back">	
	<h2>
		Welcome <%#= @user.email %>!
	</h2>
	<div class="row">
		<%= form_for :user, url: reset_path, method: :put, html: { autocomplete: :off } do |f| %>
			<div class="large-6 columns">
		    <p>
			    <%= f.label :password %>
			    <%= f.password_field :password %>
			  </p>
			  <p>
			    <%= f.label :password_confirmation %>
			    <%= f.password_field :password_confirmation %>
			  </p>
			</div>
			<div class="row">
          <input id="hidden-strength" type="hidden" name="strength" value="0">
          <%= f.hidden_field :code %>
          <%= f.submit "Save Password", id: "save-password", :class => "button" %>
			</div>
		<% end %>
	</div>
</div>